---
layout: 'base.njk'
---

<article class="blog-post">
    <time class="text-grayFont">{{ date | postDate }}</time>
    <h1>{{title}}</h1>
    <figure>
        <img src="{{ image }}" alt ="{{ imageAlt }}"/>
        {% if imageAlt %}
            <figcaption>
                {{ imageAlt }}
            </figcaption>
        {% endif %}
    </figure>

    {{ content | safe }}
</article>

<script>
    const codeBlocks = Array.from(document.querySelectorAll("pre[class*='language-']"));
    codeBlocks.forEach(el => {
        const copyBtn = document.createElement("button");
        copyBtn
            .classList
            .add("copy-btn");
        copyBtn.innerText = "copy";
        copyBtn.addEventListener("click", async function (e) {
            try {
                await navigator
                    .clipboard
                    .writeText(e.target.nextElementSibling.innerText)

                e.target.innerText = "copied";
                setTimeout(() => {
                    e.target.innerText = "copy";
                }, 2000);
            } catch (e) {
                throw Error(`Error copying text: ${e}`);
            }
        });
        el
            .parentNode
            .insertBefore(copyBtn, el);
    });

    const sections = Array.from(document.querySelectorAll("h3.anchor"));
    sections.forEach(s => {
        const anchorBtn = document.createElement("a");
        anchorBtn.innerText = '#';
        anchorBtn.href = `#${s.id}`;
        /*anchorBtn.addEventListener("click", async function (e) {
            try {
                await navigator
                    .clipboard
                    .writeText(e.target.href)
            } catch (e) {
                throw Error(`Error copying text: ${e}`);
            }
        }); */
        s.appendChild(anchorBtn);
    });
</script>