<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css"/>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <body class="line-numbers bg-gradient-to-br from-lightBg via-darkBg to-lightBg text-grayFont">
    {% include 'navigation.njk' %}
    <div class="content-container w-full mx-auto py-12 px-8 max-w-3xl lg:max-w-5xl">
      {{ content | safe }}
    </div>
    {% include 'footer.njk' %}

    {# Netlify re-direct script #}
    <script>
      window
        .netlifyIdentity
        .on("init", user => {
          if (!user) {
            window
              .netlifyIdentity
              .on("login", () => {
                document.location.href = "/admin/";
              });
          }
        });
    </script>

  </body>
</html>