<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
      name="keywords"
      content="kevin personal blog web developer javascript html css react angular"
/>
    <meta name="author" content="Kevin M"/>
    <meta
      name="description"
      content="Hi, I'm Kevin! A full-stack web developer and this blog showcases some of the important and neat things I have learned during my journey learning web development."
/>
    <meta property="og:title" content="Kevin's Personal Blog"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://kmathis-blog.netlify.app"/>
    <meta property="og:image" content="/assets/favicon-32x32.png"/>
    <meta property="og:site_name" content="Kevin's Personal Blog"/>
    <meta
      property="og:description"
      content="Hi, I'm Kevin! A full-stack web developer and this blog showcases some of the important and neat things I have learned during my journey learning web development."
/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css"/>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <body class="line-numbers bg-[#0d0e11] text-grayFont">
    {% include 'navigation.njk' %}
    <div class="content-container w-full mx-auto py-12 px-4 lg:px-8 max-w-3xl lg:max-w-5xl">
      {{ content | safe }}
    </div>
    {% include 'footer.njk' %}

    {# Netlify re-direct script #}
    <script>
      window
        .netlifyIdentity
        .on("init", user => {
          if (!user) {
            window
              .netlifyIdentity
              .on("login", () => {
                document.location.href = "/admin/";
              });
          }
        });
    </script>

  </body>
</html>