{% set currentUrl %}{{ page.url }}{% endset %}

<nav>
    <div class="max-w-5xl w-full px-8 mx-auto flex items-center justify-between">
        <a class="flex items-center" href="/">
            <img src="/assets/avatar.png" alt="face photo" width="48px" height="48px" class="mr-4"/>
            <span class="text-white text-xl">Kevin Mathis</span>
        </a>
        <ul class="list-none flex text-lg">
            <li class="nav-link {% if page.url === '/' %} text-white {% endif %}">
                <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Home</a>
            </li>
            {% for page in collections.pages | reverse %}
                <li class="nav-link {% if page.url === currentUrl %} text-white {% endif %}">
                    <a {% if currentUrl === page.url %}
                            aria-current="page"
                        {% endif %} 
                        href="{{ page.url }}"
                    >
                        {{ page.data.menuItem }}
                    </a>
                </li>
            {%- endfor %}
        </ul>
    </div>
</nav>