@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body;
  }

  /* Text colors */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white font-bold;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl mb-6 leading-tight;
  }

  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl my-4;
  }

  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl my-6;
  }

  h4 {
    @apply text-2xl;
  }

  button,
  p a {
    @apply text-white;
  }

  p {
    @apply text-grayFont leading-8 lg:text-lg xl:text-xl;
  }

  p a {
    @apply font-bold underline hover:text-skyBlue;
    text-decoration-color: rgb(7, 167, 247);
  }

  ul.blog-list li {
    @apply shadow-lg mb-10 p-6 bg-opacity-02 bg-white rounded-lg;
  }

  ul.blog-list li article {
    @apply flex gap-8 items-center;
  }

  .category-tag {
    @apply bg-purple text-white inline-block rounded-full py-1 px-3 mr-2 mt-1 font-bold transform transition-transform scale-100 hover:scale-105;
    font-size: 14px;
  }

  ul.blog-list li article h3 {
    @apply my-0 underline;
  }

  ul.blog-list li article h3 span {
    @apply text-white text-opacity-40;
  }

  .btn {
    @apply bg-purple text-white text-lg py-4 px-8 inline-block font-semibold rounded transform transition-transform scale-100 hover:scale-105;
  }

  figcaption {
    @apply text-center bg-darkerBg text-white py-2 px-4;
    font: italic smaller sans-serif;
  }

  :not(pre) > code {
    @apply bg-purple text-white px-2 rounded inline-block border border-lightBg;
    font-size: inherit;
  }

  article.blog-post p {
    @apply my-6 leading-7 text-base md:text-lg;
  }

  article.blog-post ul li {
    @apply text-skyBlue relative;
    padding-inline-start: 2rem;
  }

  article.blog-post ul li::before {
    background: #fff;
    content: "";
    height: 4px;
    width: 16px;
    left: 0px;
    position: absolute;
    top: 12px;
  }

  /* article.snippet img {
    @apply rounded;
  } */
}

/* ::selection {
  background-color: rgb(55, 48, 163);
  color: #fff;
} */

.content-container {
  min-height: calc(100vh - 116px);
}

h3.anchor {
  @apply flex items-center no-underline;
  margin-top: -68px;
  padding-top: 100px;
}

h3.anchor:hover a {
  display: inline-block;
  visibility: visible;
}

h3.anchor a {
  @apply px-4 text-grayFont opacity-30 cursor-pointer;
  visibility: hidden;
}

h3.anchor span.after-effect {
  @apply hidden sm:inline-flex bg-gradient-to-l from-skyBlue via-purple to-transparent flex-grow rounded-tl-full rounded-br-full h-1;
}

/* CODE BLOCK SYNTAX HIGHLIGHTING */

button.copy-btn {
  @apply bg-darkerBg text-grayFont font-bold cursor-pointer py-1 px-4 border mr-0 ml-auto block w-auto;
  border-color: #242629;
  border-bottom: 1px solid white;
}

pre[class*="language-"],
code[class*="language-"] {
  color: #d4d4d4;
  font-size: 14px;
  text-shadow: none;
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono",
    "Courier New", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media print {
  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}

pre[class*="language-"] {
  @apply bg-darkerBg;
  padding: 1em;
  margin: 0 0 3em 0;
  overflow: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.3);
  position: relative;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: #db4c69;
  background: #f9f2f4;
}
/*********************************************************
* Tokens
*/
.namespace {
  opacity: 0.7;
}

.token.doctype .token.doctype-tag {
  color: #569cd6;
}

.token.doctype .token.name {
  color: #9cdcfe;
}

.token.comment,
.token.prolog {
  color: #6a9955;
}

.token.punctuation,
.language-html .language-css .token.punctuation,
.language-html .language-javascript .token.punctuation {
  color: #d4d4d4;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.inserted,
.token.unit {
  color: #b5cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.deleted {
  color: #ce9178;
}

.language-css .token.string.url {
  text-decoration: underline;
}

.token.operator,
.token.entity {
  color: #d4d4d4;
}

.token.operator.arrow {
  color: #569cd6;
}

.token.atrule {
  color: #ce9178;
}

.token.atrule .token.rule {
  color: #c586c0;
}

.token.atrule .token.url {
  color: #9cdcfe;
}

.token.atrule .token.url .token.function {
  color: #dcdcaa;
}

.token.atrule .token.url .token.punctuation {
  color: #d4d4d4;
}

.token.keyword {
  color: #569cd6;
}

.token.keyword.module,
.token.keyword.control-flow {
  color: #c586c0;
}

.token.function,
.token.function .token.maybe-class-name {
  color: #dcdcaa;
}

.token.regex {
  color: #d16969;
}

.token.important {
  color: #569cd6;
}

.token.italic {
  font-style: italic;
}

.token.constant {
  color: #9cdcfe;
}

.token.class-name,
.token.maybe-class-name {
  color: #4ec9b0;
}

.token.console {
  color: #9cdcfe;
}

.token.parameter {
  color: #9cdcfe;
}

.token.interpolation {
  color: #9cdcfe;
}

.token.punctuation.interpolation-punctuation {
  color: #569cd6;
}

.token.boolean {
  color: #569cd6;
}

.token.property,
.token.variable,
.token.imports .token.maybe-class-name,
.token.exports .token.maybe-class-name {
  color: #9cdcfe;
}

.token.selector {
  color: #d7ba7d;
}

.token.escape {
  color: #d7ba7d;
}

.token.tag {
  color: #569cd6;
}

.token.tag .token.punctuation {
  color: #808080;
}

.token.cdata {
  color: #808080;
}

.token.attr-name {
  color: #9cdcfe;
}

.token.attr-value,
.token.attr-value .token.punctuation {
  color: #ce9178;
}

.token.attr-value .token.punctuation.attr-equals {
  color: #d4d4d4;
}

.token.entity {
  color: #569cd6;
}

.token.namespace {
  color: #4ec9b0;
}
/*********************************************************
* Language Specific
*/

pre[class*="language-javascript"],
code[class*="language-javascript"],
pre[class*="language-jsx"],
code[class*="language-jsx"],
pre[class*="language-typescript"],
code[class*="language-typescript"],
pre[class*="language-tsx"],
code[class*="language-tsx"] {
  color: #9cdcfe;
}

pre[class*="language-css"],
code[class*="language-css"] {
  color: #ce9178;
}

pre[class*="language-html"],
code[class*="language-html"] {
  color: #d4d4d4;
}

.language-regex .token.anchor {
  color: #dcdcaa;
}

.language-html .token.punctuation {
  color: #808080;
}
/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}

pre[class*="language-"] > code[class*="language-"] {
  position: relative;
  z-index: 1;
}

.highlight-line {
  display: inline-block;

  /* del, ins, mark default styles */
  text-decoration: none;
  color: inherit;
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

.highlight-line:not(:last-child) {
  min-width: 100%;
}
.highlight-line .highlight-line:not(:last-child) {
  min-width: 0;
}

/*
 * Dark theme
 */

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #032c0a;
}
.highlight-line-remove {
  background-color: #2c0303;
}
