---
title: "Kevin's Blog Posts"
menuItem: "Posts"
pagination:
    data: collections.post
    size: 1
    alias: post
    reverse: true
permalink: "/posts/page/{{pagination.pageNumber + 1}}/index.html"
---

<h3>
    Recent Blog Posts 
</h3>

<ul role="list" class="blog-list">
    {% include 'article-snippet.njk' %}
</ul>
{# {% if collections.post.length > (pagination.pageNumber + 1) * pagination.size %}
    <p class="my-4 text-right">
        <a class="text-2xl" href="/posts/page/{{pagination.pageNumber + 2}}">Next page &#10140;</a>
    </p>
{% endif %} #}

<p class="my-4 text-center">
    {%- for index in renderPagination(pagination.pageNumber + 1, 6, collections.post.length) -%}
        <a class="text-2xl mx-2 no-underline inline-block transform scale-100 {% if index === pagination.pageNumber + 1 %} text-skyBlue scale-150 {% endif %}" href="/posts/page/{{index}}">{{index}}</a>
    {%- endfor -%}
</p>