---
title: "Kevin's Blog Posts"
menuItem: "Posts"
---

<p class="text-3xl">
    Recent Blog Posts <span class="inline-block transform rotate-90">&#10140;</span>
</p>
<br/>
<ul role="list" class="blog-list">
    {%- for post in collections.post | reverse -%}
        {% include 'article-snippet.njk' %}
    {%- endfor -%}
</ul>