---
title: "Kevin's Blog Home"
menuItem: "Home"
layout: "base.njk"
---

<div class="w-full md:max-w-xl">
    <h1>Hi! I'm Kevin 👋</h1>
    <hr/>
    <p class="text-2xl">
        I'm a full-stack web developer who enjoys helping others build awesome things on the web! 
    </p>
    <br/>
    <p class="text-xl">
        If you want to know more about me:

        <a class="inline-block" href="https://kmathis-portfolio.vercel.app" title="My personal portfolio">
            My Portfolio
        </a>
    </p>
</div>
<br/>
<h3 class="">
    Featured Blog Posts 
    {# <span class="inline-block transform rotate-90">&#10140;</span> #}</h3>
<ul role="list" class="blog-list">
    {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
    {%- endfor -%}
</ul>
<p class="my-4 text-right">
    <a class="text-2xl" href="/posts/page/1">View all posts &#10140;</a>
</p>