---
title: "Kevin's Blog Home"
menuItem: "Home"
layout: "base.njk"
---

<div class="w-full md:max-w-xl">
    <h1>Hi! I'm Kevin 👋</h1>
    {# <hr class="my-4 border-2 rounded opacity-10"/> #}
    <p class="text-xl sm:text-2xl">
        I'm a full-stack developer who enjoys building awesome things on the web and mobile!
    </p>
    <br/>
    <p class="text-lg">
        If you want to know more about me check out

        <a class="inline-block" href="https://kmathis-portfolio.vercel.app" title="My personal portfolio">
            my portfolio website
        </a>
    </p>
</div>
<br/>
<br/>
<br/>
<ul role="list" class="blog-list">
    {%- for post in collections.featured | reverse | top(4) -%}
        {% include 'article-snippet.njk' %}
    {%- endfor -%}
</ul>
<p class="my-4 text-right">
    <a class="text-2xl" href="/posts/page/1">View all posts &#10140;</a>
</p>